body
{
    color: white;
    background-color: crimson;
}

.subsection
{
    border-color: black;
    border-style: solid;
    border-width: 25px;
    margin-bottom: 100px;
    margin-top: 20px;
    position: relative; top: 50px;
}

.subheader
{
    font-size: 24px;
}

.button
{
    background-color: white;
    color: crimson;
    display: inline;
    margin-right: 75px;
    margin-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

nav
{
    align-self: center;
    align-content: center;
    align-items: center;
    margin-top: 50px;
    display: inline;
    position: relative; top: 30px;
}

h1
{
    text-align: center;
    margin-top: 25px;
}
#current
{
    background-color: gold;
}

p
{
    font-size: 20px;
}

a
{
    text-decoration: none;
}

a:hover .button
{
    background-color: grey;
}